<section class="kindlitt-section">
  <div class="kindlitt-container kindlitt-quote">

    <div style="
      width:1px;
      height:100px;
      background:#dbc2b0;
      margin:0 auto 50px;
    "></div>

    <h2>
      "Reading is not just a habit,
      it is a form of sanctuary."
    </h2>

    <p style="
      margin-top:30px;
      letter-spacing:.2em;
      text-transform:uppercase;
      color:#8d4b00;
      font-size:.75rem;
      font-weight:700;
    ">
      Ziyu Philosophy of Intention
    </p>

  </div>
</section>

{% schema %}
{
  "name": "KindLitt Quote",
  "presets": [
    {
      "name": "KindLitt Quote"
    }
  ]
}
{% endschema %}